**/K_expansion_bcc_runs
**K_shear2_bcc_runs
**/output
**/reference
**/minimum_lattice_parameter
**/slurm*
ENV
2AtomRuns
Na*
MDRuns
runs
research_notebook.pdf
# **/md*
outputDFT
initialGenerationDFT
out.run
slurmRunOutputs
mdLearningRuns
phase3/mtpProperties/mlip.ini
phase3/mtpProperties/out.cfg
phase3/mtpProperties/state.als
